<div class="docs-example-viewer-wrapper">
  <div class="docs-example-viewer-title">
    <div class="docs-example-viewer-title-spacer">{{ exampleData.title }}</div>
  </div>

  <div *ngIf="showDebug && _debugFields" style="padding: 10px 100px; background: white;">
    <formly-form [model]="demoComponentRef.instance.fields[0]" [fields]="_debugFields"></formly-form>
  </div>

  <div class="docs-example-viewer-body">
    <div class="alert alert-info" *ngIf="exampleData.description" [innerHtml]="exampleData.description"></div>

    <ng-template #demo></ng-template>

    <div *ngIf="(!exampleData.debug || showDebug) && demoComponentRef">
      <h3>Form Data</h3>
      <pre [style.display]="'none'">{{ model }}</pre>
      <pre #modelPreview></pre>
    </div>
  </div>
</div>
